@font-face {
    font-family: "bahij";
    src: url('/fonts/bahij.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/bahij.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url("/fonts/bahij.woff") format("woff"),
        url('/fonts/bahij.ttf') format("truetype"),
        url('/fonts/bahij.svg#svgFontName') format('svg');
    /* Legacy iOS */

}

:root {
    --header-bg-color: #50527A;
    --bg-color: #fff;
    --font-size: 1.2rem;
    --bg-gray: #f8f8f8;
}

::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    font-weight: 100;
}

ul,
li {
    list-style: none;
}

.kaw__title-one {
    font-size: 2rem;
    color: #666;
    position: relative;
    margin: 0px 0 10px 0;
}

.kaw__title-one::before {
    content: "\203A";
    font-size: 2rem;
    color: #999;
    position: absolute;
    right: -30px
}

body {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 100%;
    font-family: 'bahij';
    direction: rtl;
    justify-content: center;
    align-items: center;
}

/* main */
header {
    display: grid;
    grid-template-rows: 80px;
    background-color: var(--header-bg-color);
    align-items: center;
    position: relative;
    top: 0;
}

.top__menu {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: max-content 150px;
    justify-content: space-between;
}

.nav__menu {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: max-content max-content;
}

.nav__menu-a {
    font-size: var(--font-size);
    color: #fff;
    position: relative;
    z-index: 2;
    transition: .3s;
    margin: 5px 10px;
}

.nav__menu-a::before {
    content: '';
    position: absolute;
    background-color: #fcfcfc;
    width: 0px;
    height: 0px;
    bottom: 0;
    z-index: -1;
    transition: .2s;
}

.nav__menu-a:hover::before {
    width: 50px;
    height: 3px;
    transition: .2s;
}

.logo {
    max-width: 80px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.aside {
    display: grid;
    grid-template-columns: 300px;
    position: fixed;
    top: 80px;
    bottom: 0;
    border-left: 1px #e5e5e5 solid;
    overflow: auto;
    padding: 45px 45px 60px 45px;
}

.aside__menu-h1 {
    font-size: 1.6rem;
    color: #222;
    margin: 0 0 45px 0;
}

.aside__menu-start {
    display: grid;
    grid-template-columns: auto;
    justify-content: start;

}

.aside__menu-start-header {
    font-size: 1.3rem;
    color: #222;
    padding: 8px 0;
    width: 300px;
    border-bottom: 1px #e5e5e5 solid;
}

.aside__menu-start-a {
    color: #999;
    margin: 15px 0;
}

.aside__menu-start-a a {
    color: #999;
    margin: 15px 0;
}

.aside__menu-start-a a:hover {
    color: #666;
}

/* Container */
main {
    display: grid;
    width: 700px;
    justify-self: center;
    position: relative;
    top: 45px;
}

.title {
    display: grid;
    grid-template-columns: auto;
    border-bottom: 1px #e5e5e5 solid;
    margin-bottom: 40px;
}

.title__one {
    font-size: 2rem;
    color: #666;
}

.title__one-p {
    font-size: var(--font-size);
    color: #444;
    padding: 20px 0;
}

.kaw__table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding-bottom: 60px;
    border-bottom: 1px #e5e5e5 solid;
}

.kaw__table-default {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.kaw__table-default-tr:nth-child(even) {
    background-color: var(--bg-gray)
}

.kaw__table-default-tr {
    border-bottom: 1px solid #e5e5e5;
}

.kaw__table-default-tr:last-child {
    border: 0;
}

.kaw__table-default-td {

    padding: 10px 10px;
    color: #333
}

.kaw__table-default-th {
    border-bottom: 1px solid #e5e5e5;
    text-align: right;
    font-size: 1.5rem;
    color: #666;
    padding: 10px 10px;
}

.kaw__code {
    max-width: 100%;
    margin-top: 40px;
    background-color: #f8f8f8;
    padding: 40px 20px;
    display:grid;
    grid-template-columns:auto
}
.kaw__code-style{
margin-top: 20px;
}
.kaw-tag {
    font-family: Arial, Helvetica, sans-serif;
    color: #3f4746;
}

.code__class {
    color: rgb(255, 126, 75)
}

.code__class-name {
    color: rgb(75, 132, 255)
}

.components {
    margin-top: 20px;
    display: grid;
    grid-template-columns:repeat(3,100px);
    gap: 10px;
}

.kaw__btn-default {
    width: 100px;
    height: 40px;
    background-color:#fff;
    color: #000;
    font-size: 1.2rem;
    border: 1px #666 solid;
    display: grid;
    align-items: center;
}
.kaw__btn-default:hover {
    background-color:#f8f8f8;
    border: 1px #a8a8a8 solid;
    cursor: pointer;
}
.kaw__btn-mastrsi {
    width: 100px;
    height: 40px;
    border: 0;
    background-color:#D03D33;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    display: grid;
    align-items: center;
    transition: .2s;
}
.kaw__btn-mastrsi:hover {
    background-color:#ff6a5f;
    cursor: pointer;
}

.kaw__btn-shadow-1 {
    width: 100px;
    height: 40px;
    border: 0;
    background-color:#65d033;
    color: #fff;
    font-size: 1.2rem;
    display: grid;
    align-items: center;
    transition: .2s;
    transform:translate(5px , -5px);
    box-shadow: #858585 -3px 3px;

}
.kaw__btn-shadow-1:hover {
    background-color:#65d033;
    cursor: pointer;
    transform:translate(0px , 0px);
    box-shadow:none;
    transition: .2s;
}